#game-canvas {
    background-color: #d3a1e275;
    background-image: url("../../src/dino-bg.jpg");
    /* background-position: bottom; */
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 10px;
    animation: none;
  }

  @keyframes moveRoad {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: -100% 0;
    }
  }